@model IEnumerable<SubeLA.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<br />

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"> Nuevo Producto</i></a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Productos</h5>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                Imagen
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                                </td>
                                <td>
                                    <img src="@item.FirstImage" style="width:200px;height:200px;max-width: 150%; height: auto;" />
                                </td>
                                <td>
                                    <strong>L.</strong> @Html.DisplayFor(modelItem => item.Price)
                                </td>

                                <td>
                                    <a asp-action="EditProduct" class="btn btn-warning" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"> Editar</i> </a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"> Detalles</i></a>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class=" fas fa-trash-alt"> Eliminar</i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Home/Delete/', false);
        });
    </script>
}